{% extends "layout.html" %}
<!-- Significa que vai herdar tudo que tem no documento
layout.html -->

{% set pageId = "page-create-point" %}

{% block styles %}
<link href="css/create-point.css" rel="stylesheet">
<link href="css/modal.css" rel="stylesheet">
{% endblock styles %}

{% block title %}
<title>Criar um ponto de coleta</title>
{% endblock title %}

{% block content %}
{% include "partials/page-header.html" %}
<form action="/savepoint" method="POST">
    <h1>Cadastro do ponto de coleta</h1>
    <fieldset>
        <!--Coleção de campos -->
        <legend>
            <h2>Dados da Entidade</h2>
        </legend>

        <div class="field-group">
            <div class="field">
                <label for="">Nome da Entidade</label>
                <input type="text" name="name" required>
            </div> <!-- field -->
            <div class="field">
                <label for="">Imagem da Entidade</label>
                <input type="url" name="image" required>
            </div> <!-- field -->
        </div>
        <!--field-group -->

        <div class="field-group">
            <div class="field">
                <label for="">Endereço</label>
                <input type="text" name="addres" required>
            </div>
            <!--field-->
            <div class="field">
                <label for="">Número/Complemento</label>
                <input type="text" name="addres2" required>
            </div><!-- field -->
        </div><!-- field-group -->

        <div class="field-group">
            <div class="field">
                <label for="">Estado</label>
                <select name="uf" id="" required>
                    <option value="">Selecione o Estado</option>
                </select> <!-- Cria uma caixa de seleção -->
                <input type="hidden" name="state">
            </div>
            <!--field-->
            <div class="field">
                <label for="">Cidade</label> <!-- Serve como uma legenda pro input-->
                <select name="city" id="" disabled required>
                    <option value="">Selecione a Cidade</option>
                </select>
            </div><!-- field -->
        </div><!-- field-group -->

    </fieldset>

    <fieldset>
        <legend>
            <h2>Itens de Coleta</h2>
            <span>Selecione um ou mais itens abaixo</span>
        </legend>

        <div class="itens-grid">
            <li data-id="Lâmpadas">
                <img src="./icones/lampadas.svg" alt="Lâmpadas">
                <span>Lâmpadas</span>
            </li><!-- 1 -->

            <li data-id="Pilhas e Baterias">
                <img src="./icones/baterias.svg" alt="Pilhas e Baterias">
                <span>Pilhas e Baterias</span>
            </li><!-- 2 -->

            <li data-id="Papéis e Papelão">
                <img src="./icones/papeis-papelao.svg" alt="Papéis e Papelão">
                <span>Papéis e Papelão</span>
            </li><!-- 3 -->

            <li data-id="Resíduos Eletrônicos">
                <img src="./icones/eletronicos.svg" alt="Resíduos Eletrônicos">
                <span>Resíduos Eletrônicos</span>
            </li><!-- 4 -->

            <li data-id="Resíduos Orgânicos">
                <img src="./icones/organicos.svg" alt="Resíduos Orgânicos">
                <span>Resíduos Orgânicos</span>
            </li><!-- 5 -->

            <li data-id="Óleo de Cozinha">
                <img src="./icones/oleo.svg" alt="Óleo de Cozinha">
                <span>Óleo de Cozinha</span>
            </li><!-- 6 -->
        </div><!-- itens-grid -->

        <input type="hidden" name="items">
    </fieldset>

    <button type="submit">Cadastrar ponto de coleta</button>
</form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/point-created.html"%}
    {% endif %}
{% endblock modal %}


{% block scripts %}
<script src="./js/create-point.js"></script>
{% endblock scripts %}